.light-behind-404{
  pointer-events: none;
  display: block;
  width: 150%;
  height: 150%;
  aspect-ratio: 1/1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: radial-gradient(var(--radiantGradient), transparent 70%);
  z-index: -1;
}

.napisyAnimation{
  animation: 1.5s moveDown 0.3s forwards ease-out;
  position: relative;
  transform: translateY(-50%);
  opacity: 0;
}
@keyframes moveDown{
  0%{opacity: 0; transform: translateY(-50%);}
  100%{opacity: 1; transform: translateY(0%);}
}

.clownImage{
  animation: 1.5s moveUp 0.3s forwards ease-out;
  opacity:0;
  transform: translateY(50%);
  position: relative;
  filter: drop-shadow(0px 4px 6px black);
}
@keyframes moveUp{
  0%{opacity: 0; transform: translateY(50%);}
  100%{opacity:1; transform: translateY(0%);}
}
