.light-behind-loading{
  pointer-events: none;
  display: block;
  width: 150%;
  height: 150%;
  aspect-ratio: 1/1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: radial-gradient(var(--radiantGradient), transparent 70%);
  z-index: -1;
}

.animate-letters span{
  animation: 2s movingLetters ease-in-out infinite alternate;
  position: relative;
  display: inline-block;
  transition: 2s;
  transform: translateY(-0%);
}

@keyframes movingLetters{
  0%{transform: translateY(-0%);}
  50%{transform: translateY(-0%);}
  100%{transform: translateY(-25%);}
}
